<%- include('./includes/_head') %>

<%- include('./includes/_navbar') %>
 <div style="text-align: center; padding: 3% 0;">
    <img src="https://onecms-res.cloudinary.com/image/upload/s---w8AY2Vj--/f_auto%2Cq_auto/v1/mediacorp/corporate/image/2022/11/05/corporateenquiry_pageheader_4nov.jpg?itok=l68CS7RQ" alt="">
 </div>
        
<%- include('./includes/_footer') %>